<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Snacks in a Van</title>
    <link rel="stylesheet" type="text/css" href="/css/customerstyle.css">
    <link rel="stylesheet" href="/css/map.css">
    <script src="https://kit.fontawesome.com/40c25fb1ee.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:ital,wght@0,700;0,800;0,900;1,700;1,800;1,900&display=swap" rel="stylesheet"> 
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.2.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.2.0/mapbox-gl.css' rel='stylesheet' />
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet"> 
</head>

<body>
    <div class="fixedbot">
        <div id="vanlistfloat">
            <div id="vanlistexpand"><i class="fas fa-minus"></i></div>
            <div id="vanlistcontainer">
                <div id="vanlisttop">
                    <h1>Closest Van</h1>
                    <span id="vanlisttopcontent">{{!-- filled via vanhome.js --}}</span>
                    {{!-- <div id="selectedvan" class="vanlistitem">
                        <div class="vaninfo">
                            <h3><span class="vanname"></span></h3>
                            <h4><span class="vanaddress"></span></h4>
                            <h5><i class="fas fa-map-marker-alt"></i>&nbsp;&nbsp;<span class="vandist"></span> m&nbsp;away</h5>
                        </div>
                        <div class="vancontinue">
                            <a>Continue</a>
                        </div>
                    </div> --}}
                </div>
                <div id="vanlistbottom">
                    <h1>Vans Nearby</h1>
                    <span id="vanlistbottomcontent">{{!-- filled via vanhome.js --}}</span>
                </div>
            </div>
        </div>
        <div class="navbar">
            <ul>
                <li><a href="/customer"><i id="navicon" class="fas fa-home"></i>Home</a></li>
                <li><a href="/customer/orders"><i id="navicon" class="fas fa-clipboard-list"></i>Orders</a></li>
                <li><a href="/customer/profile"><i id="navicon" class="fas fa-user"></i>Profile</a></li>
            </ul>
        </div>
    </div>
    <main>
        {{{body}}}
    </main>
</body>

</html>
