<ul id="menu">
    {{!-- {{#listmenu menu}}{{/listmenu}} --}}
    {{#each menu}}
    <li>
        <a href="/customer/menu/{{this.name}}">{{#removeunderscore this.name}}{{/removeunderscore}}</a>
    </li>
    {{/each}}
</ul>