{{#each orders}}
{{!-- This code will pull each order from the database and perform this code on each subsequently --}}
    <div><p1>Order: {{this.orderID}} </p1><br>
        Name: {{this.customerGivenName}}
      

    </div>
{{/each}} 