{{#each orders}}
{{!-- This code will pull each order from the database and perform this code on each subsequently --}}
<div class="orderbox-container"> 
    
    <div class="orderdate">
        Monday
    </div>
    
    <div class="ordercontent"> 
        order content 
    </div>
    
    <div class="ordertotal">
        total
    </div>

    <div class="orderstatus">
        Pending
    </div>

    <div class="ordertrailer">
        trailor
    </div>

</div>

{{/each}} 
<script src="/js/orders.js"></script>
