html {
    font-size: max(2vh,16px);
    font-family: 'Nunito', sans-serif;
    color: #000000;
    background-color: #cde9fc;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
}

body {
    margin: 0;
}

main {
    height: 100%;
    overflow-y: auto;
    padding-bottom: 10em;
}

/* superscript, currently only used for * required on register */
sup {
    color: #d83200;
}
/* --------------navigation bar-------------- */
.navbar {
    pointer-events: auto;
    overflow: hidden;
    width: 100%;
    background-color: #ffffff;
}

.navbar ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0 10vw;
}

.navbar li {
    float: left;
}

.navbar li a {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    color: black;
    text-align: center;
    padding: 0.7em 5vw;
    text-decoration: none;
    font-size: 0.9em;
    font-weight: 300;
}

.navbar li a:hover {
    background-color: #E2E2E2;
}

#navicon {
    font-size: 1.3em;
}

/* sticky to top */
.stickytop {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    z-index: 9999;
}

.fixedbot {
    position: fixed;
    bottom: 0;
    z-index: 9999;
    margin: 0;
    padding: 0;
    width: 100%;
    pointer-events: none;
}
/* --------------cart float--------------- */
#cartcontainer {
    overflow: hidden;
    pointer-events: auto;
    box-sizing: border-box;
    margin: 0;
    max-height: 30vh;
    padding: 2vh 7vw;
    background-color: #e4e4e4;
    border-radius: 30px 30px 0 0;

    display: grid;
    grid-template-rows: auto min-content;
    grid-template-areas: 
        "cart"
        "buttons";
}

#cart {
    grid-area: "cart";
    height: 100%;
    
    display: none;
    /* display:grid when cart expanded */
    grid-template-rows: auto min-content;
    grid-template-areas: 
        "cartlist"
        "carttotal";
}

#cartlist {
    grid-area: "cartlist";
    overflow-y: auto;
    height: 17vh;
    display: grid;
    row-gap: 0.5vh;
    grid-template-columns: 1fr;
    grid-auto-rows: min-content;
}

.carttotal {
    grid-area: "carttotal";
    text-align: end;
    font-weight: 600;
}

.cartitem {
    height: min-content;
    padding: 0;
    margin: 0;

    display: grid;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    grid-template-columns: 10% 40% 30% 20%;
    grid-template-areas: 
        "itemdel itemname itemquant itemprice";
}

.itemdel { 
    grid-area: "itemdel";
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
}
.itemdel i:hover { color: #686868; cursor: pointer; }
.itemname { grid-area: "itemname" }
.itemquant { grid-area: "itemquant" }
.itemprice {
    grid-area: "itemprice";
    text-align: left;
}

.cartitem .number-input input[type="number"]{
    width: 1.2em;
}

.cartbuttons {
    grid-area: "buttons";
    align-self: flex-end;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    margin-top: 1vh;
}

.cartbutton {
    display: block;
    border-radius: 50px;
    border: none;
    height: 100%;
    padding: 1vh 0;
    width: 30vw;
    min-width: 110px;
    max-width: 150px;
    white-space: nowrap;
    text-decoration: none;
    font-family: "Nunito", sans-serif;
    font-size: 1em;
    text-align: center;
}

#vcartbutton {
    justify-self: left;
    background-color: #ffffff;
    font-weight: 400;
}

#vcartbutton:hover {
    cursor: pointer;
    background-color: #c4c4c4;
}

#chkoutbutton {
    justify-self: right;
    background-color: #5391f5;
    color: #ffffff;
    font-weight: 600;
}

#chkoutbutton:hover {
    cursor: pointer;
    background-color: #7ca7f1;
}

/* -----------van selected float------------- */
.vanfloat {
    overflow: hidden;
    box-sizing: border-box;

    background-color: #ffffff;
    padding: 1.6vh 4vw 1.3vh 8vw;

    display: grid;
    grid-template-columns: auto auto;
    margin: 0;
    
    grid-template-areas: 
        "vanfloatleft vanfloatright";
}

.vanfloat #vanfloatleft {
    grid-area: "vanfloatleft";
    justify-self: start;
    align-content: start;
}

.vanfloat #vanfloatright {
    grid-area: "vanfloatright";
    justify-self: end;
    align-content: start;
}

.vanfloat p {
    font-family: "Roboto", sans-serif;
    font-size: 0.7em;
    font-weight: 300;
    color: #181818;
}

/* van name */
.vanfloat h3 {
    margin: 1vh 0 0.2vh;

    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

/* address */
.vanfloat h4 {
    margin: 0.5vh 0 0.2vh;
    font-size: 0.8em;
    font-family: "Work Sans", sans-serif;
    font-weight: 500;
    color: #727272;
    text-transform: capitalize;
}

/* distance */
.vanfloat h5 {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    margin: 0.5vh 0 0.2vh;
}

/* change truck button */
.vanfloat a {
    display: flex;
    background-color: #5490f5;
    padding: 1vh 4vw;

    border-radius: 100px;
    margin-top: 2.3vh;

    font-size: 0.8em;
    color: #ffffff;
    justify-content: center;
    align-items: center;
}

.vanfloat a:hover {
    background-color: #7ca7f1;
}
/* -------- menu search bar ------------- */
.searchmenu {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2vh 4vw;
    background-color: #cde9fc;
}

.searchmenu p {
    font-weight: 600;
    margin-right: 2vw;
}

.searchmenu input {
    background-color: #ffffff;
    border: none;
    border-radius: 2px;
    width: 60vw;
    min-width: 120px;
    padding: 0.4vh 4px;
    box-sizing: border-box;
}

/* --------------------login page---------------------- */
.centerflex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

#logintitle {
    font-family: "Work Sans", sans-serif;
    font-weight: 700;
    font-size: 1.3em;
    text-transform: uppercase;
    padding-top: 15vh;
    padding-bottom: 2vh;
}

#login_form label {
    display: inline-block;
    text-align: left;
    width: 100%;
    font-size: 0.8em;
}

.loginfield {
    width: 70vw;
    min-width: 180px;

    padding: 0.8vh 8px;
    margin-bottom: 10px;
    box-sizing: border-box;

    background-color: #ffffff;
    border: none;
    border-radius: 6px;

    font-family: inherit;
    font-size: 0.8em;
}

/* error text for email/pw incorrect */
#loginerror {
    color: #d83200;
}
/* error text for dupe acc */
#dupeerror {
    color: #d83200;
    margin-bottom: 1vh;
    font-size: 0.9em;
}

/* error text for when password and confirm password dont match */
#pwmatcherror {
    display: none;
    width: 100%;
    color: #d83200;
    font-size: 0.8em;
}

/* error text for when form fields are not filled */
#formnotfill {
    width: 100%;
    color: #d83200;
    font-size: 0.8em;
}

#loginbutton {
    width: 35vw;
    max-width: 180px;
    min-width: 80px;

    padding: 8px 10px;
    margin-top: 3vh;
    box-sizing: border-box;

    background-color: #5490f5;
    border: none;
    border-radius: 20px;

    font-family: inherit;
    font-weight: 300;
    text-transform: uppercase;
    color: white;
    font-size: 0.75em;
}

#loginbutton:hover {
    background-color: #7ca7f1;
}

#loginbutton:disabled {
    background-color: #bdbdbd;
}

/* already have an account? don't have an account? text at bottom of login/register pages */
#createacc {
    padding-top: 3vh;
    font-size: 0.8em;
}

#createacc a {
    font-family: "Work Sans", sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.1em;
    line-height: 1.2em;
    text-decoration: none;
    color: black;
}

#createacc a:hover {
    text-decoration: underline;
}

/* back link for login page */
#backbutton {
    margin-top: 18vh;
    font-family: "Roboto",sans-serif;
    font-weight: 700;
    font-size: 1.1em;
    line-height: 1.2em;
    text-decoration: none;
    color: #5490f5;
}

#backbutton:hover {
    text-decoration: underline;
    
}
/* ----------menu categories------------- */
#categories {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    justify-content: center;
    list-style-type: none;
    margin: 0 0 1em;
    padding: 0;
    column-gap: 2vw;
    background-color: #ffffff;
}

#categories input[type="checkbox"] {
    display: none;
}

#caticon {
    font-size: 2em;
}

.catbutton {
    display: flex;
    flex-direction: column;
    padding: 0.7em 3vw;
    text-align: center;
    text-transform: capitalize;
    align-items: center;
}

.catbutton:hover {
    background-color: #E2E2E2;
}

#categories input[type="checkbox"]:checked+label {
    background-color: #d4d4d4;
  }

/* -------------menu page-------------- */
#menu {
    display: grid;
    margin: 0 10vw;
    padding: 0;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    gap: 4vh 5vw;
}

#menu li {
    list-style-type: none;
    vertical-align: top;
    text-align: center;
}

#menuitem {
    text-align: center;
}

#menuitem a {
    font-weight: 600;
    color: #000000;
}

#menuitem a span:hover {
    text-decoration: underline;
}

#menuitem img {
    width: 100%;
    height: 15vh;
    overflow: hidden;
    object-fit: cover;
    border-radius: 2vh;
    transition: all 0.2s ease-in-out;
    background-color: #ffffff;
}

#menuitem img:hover {
    filter: opacity(0.7);
}

.number-input {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.number-input button {
    cursor: pointer;
    border: none;
    text-decoration: none;
    background: none;
    font-size: 1.8em;
    padding: 0;
}

.number-input button:hover {
    filter: invert(0.4);
}

.number-input input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;

    border: none;
    background: none;
    text-align: center;
    width: 2em;
    font-family: "Roboto", sans-serif;
    font-size: 1em;
    font-weight: 300;
    margin: 0 1vw;
}

#menuitem input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}


/* --------------responsive landscape tablet view ~1000px------------------ */
@media screen and (min-width: 1000px) {
    .responsive {
        display: none;
    }

    .vanfloat {
        padding-left: 4vw;
    }

    .vanfloat a {
        font-size: 1em;
        padding: 1vh 2vw;
    }

    #menu {
        grid-template-columns: repeat(3, 1fr);
    }

    .catbutton {
        flex-direction: row;
    }

    #caticon {
        margin-right: min(1vw, 15px);
    }
    
    .navbar li a {
        flex-direction: row;
    }

    .navbar li a i {
        margin-right: min(0.5vw, 10px);
    }

    #cartcontainer {
        width: max-content;
        padding: 2vh 4vw;
    }

    .cartitem .number-input input[type="number"]{
        margin: 0 0.3vw;
    }

    .cartitem .number-input button{
        font-size: 1.2em;
    }

    #vcartbutton {
        margin-right: 3vw;
    }

    #chkoutbutton {
        margin-left: 3vw;
    }
}

/* ------------responsive desktop fullscreen browser ~1500px------------- */
@media screen and (min-width: 1500px) {
    #menu {
        grid-template-columns: repeat(4, 1fr);
    }
}