html {
    font-size: max(2vh,16px);
    font-family: 'Nunito', sans-serif;
    color: #000000;
    background-color: #cde9fc;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
}

body {
    margin: 0;
}

main {
    height: 100%;
    overflow-y: auto;
    padding-bottom: 4em;
}

/* superscript, currently only used for * required on register */
sup {
    color: #d83200;
}
/* --------------navigation bar-------------- */
.navbar {
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #ffffff;
    z-index: 99;
}

.navbar ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0 10vw;
}

.navbar li {
    float: left;
}

.navbar li a {
    display: block;
    background-color: #ffffff;
    color: black;
    text-align: center;
    padding: 0.7em 5vw;
    text-decoration: none;
    font-size: 0.9em;
    font-weight: 300;
}

.navbar li a:hover {
    background-color: #E2E2E2;
}

#navicon {
    font-size: 1.3em;
}
/* -----------van selected float------------- */
.vanfloat {
    overflow: hidden;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    box-sizing: border-box;
    top: 0;
    z-index: 99;

    background-color: #ffffff;
    padding: 1.6vh 4vw 1.3vh 8vw;

    display: grid;
    grid-template-columns: auto auto;
    margin: 0;
    
    grid-template-areas: 
        "vanfloatleft vanfloatright";
}

.vanfloat #vanfloatleft {
    grid-area: "vanfloatleft";
    justify-self: start;
    align-content: start;
}

.vanfloat #vanfloatright {
    grid-area: "vanfloatright";
    justify-self: end;
    align-content: start;
}

.vanfloat p {
    font-family: "Roboto", sans-serif;
    font-size: 0.7em;
    font-weight: 300;
    color: #181818;
}

/* van name */
.vanfloat h3 {
    margin: 1vh 0 0.2vh;

    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

/* address */
.vanfloat h4 {
    margin: 0.5vh 0 0.2vh;
    font-size: 0.8em;
    font-family: "Work Sans", sans-serif;
    font-weight: 500;
    color: #727272;
    text-transform: capitalize;
}

/* distance */
.vanfloat h5 {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    margin: 0.5vh 0 0.2vh;
}

/* change truck button */
.vanfloat a {
    display: flex;
    background-color: #5490f5;
    padding: 1vh 4vw;

    border-radius: 100px;
    margin-top: 2.3vh;

    font-size: 0.8em;
    color: #ffffff;
    justify-content: center;
    align-items: center;
}

/* --------------------login page---------------------- */
.centerflex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

#logintitle {
    font-family: "Work Sans", sans-serif;
    font-weight: 700;
    font-size: 1.3em;
    text-transform: uppercase;
    padding-top: 15vh;
    padding-bottom: 3vh;
}

#login_form label {
    display: inline-block;
    text-align: left;
    width: 100%;
    font-size: 0.8em;
}

.loginfield {
    width: 70vw;
    min-width: 180px;

    padding: 0.8vh 8px;
    margin-bottom: 10px;
    box-sizing: border-box;

    background-color: #ffffff;
    border: none;
    border-radius: 6px;

    font-family: inherit;
    font-size: 0.8em;
}

/* error text for email/pw incorrect/duplicate */
#loginerror {
    color: #d83200;
}

/* error text for when password and confirm password dont match */
#pwmatcherror {
    display: none;
    width: 100%;
    color: #d83200;
    font-size: 0.8em;
}

/* error text for when form fields are not filled */
#formnotfill {
    width: 100%;
    color: #d83200;
    font-size: 0.8em;
}

#loginbutton {
    width: 35vw;
    max-width: 180px;
    min-width: 80px;

    padding: 8px 10px;
    margin-top: 3vh;
    box-sizing: border-box;

    background-color: #5490f5;
    border: none;
    border-radius: 20px;

    font-family: inherit;
    font-weight: 300;
    text-transform: uppercase;
    color: white;
    font-size: 0.75em;
}

#loginbutton:hover {
    background-color: #7ca7f1;
}

#loginbutton:disabled {
    background-color: #bdbdbd;
}

/* already have an account? don't have an account? text at bottom of login/register pages */
#createacc {
    padding-top: 3vh;
    font-size: 0.8em;
}

#createacc a {
    font-family: "Work Sans", sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.1em;
    line-height: 1.2em;
    text-decoration: none;
    color: black;
}

#createacc a:hover {
    text-decoration: underline;
}

/* back link for login page */
#backbutton {
    margin-top: 18vh;
    font-family: "Roboto",sans-serif;
    font-weight: 700;
    font-size: 1.1em;
    line-height: 1.2em;
    text-decoration: none;
    color: #5490f5;
}

#backbutton:hover {
    text-decoration: underline;
    
}
/* --------------responsive------------------ */
@media screen and (min-width: 1000px) {
    .responsive {
        display: none;
    }

    .vanfloat {
        padding-left: 4vw;
    }

    .vanfloat a {
        font-size: 1em;
        padding: 1vh 2vw;
    }
}