html {
    font-size: max(2vh,16px);
    font-family: 'Nunito', sans-serif;
    color: #000000;
    background-color: #cde9fc;
}

p {
    margin: 0;
}

a {
    color: initial;
    text-decoration: none;
}

body {
    margin: 0;
}

main {
    height: 100%;
    overflow-y: auto;
    padding-bottom: 10em;
}

/* superscript, currently only used for * required on register */
sup {
    color: #d83200;
}

.hoverable:hover {
    filter: brightness(0.85);
    cursor: pointer;
}

.disabled {
    pointer-events: none;
    cursor: default;
    filter: opacity(0.5);
 }

/* --------------navigation bar-------------- */
.navbar {
    pointer-events: auto;
    overflow: hidden;
    width: 100%;
    background-color: #ffffff;
}

.navbar ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0 10vw;
}

.navbar li {
    float: left;
}

.navbar li a {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    color: black;
    text-align: center;
    padding: 0.7em 5vw;
    text-decoration: none;
    font-size: 0.9em;
    font-weight: 300;
}

.navbar li a:hover {
    background-color: #E2E2E2;
}

#navicon {
    font-size: 1.3em;
}
/* --------------floating element class-------------- */
/* sticky to top */
.stickytop {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    z-index: 9999;
}

.fixedbot {
    position: fixed;
    bottom: 0;
    z-index: 9999;
    margin: 0;
    padding: 0;
    width: 100%;
    pointer-events: none;
}
/* --------------homepage van list float ------------- */
#vanlistfloat {
    overflow: hidden;
    box-sizing: border-box;
    pointer-events: auto;
    background-color: #ffffff;
    border-radius: 30px;

    margin: 0 1vw 2vh;
}

#vanlistexpand {
    margin: 0;
    pointer-events: auto;

    color: #919191;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
}

#vanlistexpand i {
    transform-origin: center;
    -webkit-transform:scale(2,1); /* Safari and Chrome */
    -moz-transform:scale(2,1); /* Firefox */
    -ms-transform:scale(2,1); /* IE 9 */
    -o-transform:scale(2,1); /* Opera */
    transform:scale(2,1);
}

#vanlistexpand:hover {
    background-color: #ececec;
    cursor: pointer;
}

#vanlistcontainer {
    overflow: hidden;
    box-sizing: border-box;
    pointer-events: auto;

    padding: 0 7vw 2vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: min-content;
    grid-template-areas: 
        "vanlisttop"
        "vanlistbottom";
}

#vanlisttop { grid-area: vanlisttop; }

#vanlistbottom {
    grid-area: vanlistbottom;
    display: none;
    /* changes to flex when list expanded */
    flex-direction: column;
}

/* closest van, vans nearby */
#vanlistcontainer h1 {
    margin: 0.5vh 0 0;
    padding: 0 0 0 1vw;
    font-size: 0.9em;
    font-weight: 700;
    color: #5490f5;
}

.vanlistitem {
    margin: 0 0 0.5vh;
    padding: 0.5vh 1vw;
    box-sizing: border-box;

    /* when selected, show a border */
    border-radius: 10px;
    /* border: 1px solid #5490f5; */

    display: grid;
    grid-template-columns: auto min-content;
    grid-template-areas: 
        "vaninfo vancontinue";
}

.vanlistitem:hover {
    background-color: #e6e6e6;
    cursor: pointer;
}

.vaninfo {
    grid-area: vaninfo;
}

/* van name */
.vaninfo h3 {
    margin: 0 0 0.1vh;
    padding: 0;
    font-size: 1em;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

/* van address */
.vaninfo h4 {
    margin: 0 0 0.1vh;
    font-size: 0.8em;
    font-family: "Work Sans", sans-serif;
    font-weight: 500;
    color: #727272;
    text-transform: capitalize;
}

/* van distance */
.vaninfo h5 {
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

.vancontinue {
    grid-area: vancontinue;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-left: 5vw;
}

.vancontinue a {
    margin: 0;
    padding: 1vh 3vw;
    min-width: 110px;
    max-width: 150px;
    max-height: 50px;
    border-radius: 50px;
    box-sizing: border-box;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #5490f5;
    color: #ffffff;
    font-size: 1em;
    font-weight: 700;

    cursor: pointer;
}

.vancontinue a:hover {
    background-color: #7ca7f1;
}

/* --------------cart float--------------- */
#cartcontainer {
    overflow: hidden;
    pointer-events: auto;
    box-sizing: border-box;
    margin: 0;
    max-height: 30vh;
    padding: 2vh 7vw;
    background-color: #e4e4e4;
    border-radius: 30px 30px 0 0;

    display: grid;
    grid-template-rows: auto min-content;
    grid-template-areas: 
        "cart"
        "buttons";
}

#cart {
    grid-area: cart;
    height: 100%;
    
    display: none;
    /* display:grid when cart expanded */
    grid-template-rows: auto min-content;
    grid-template-areas: 
        "cartlist"
        "carttotal";
}

#cartlist {
    grid-area: cartlist;
    overflow-y: auto;
    height: 17vh;
    display: grid;
    row-gap: 0.5vh;
    grid-template-columns: 1fr;
    grid-auto-rows: min-content;
}

.carttotal {
    grid-area: carttotal;
    text-align: end;
    font-weight: 600;
}

.cartitem {
    height: min-content;
    padding: 0;
    margin: 0;

    display: grid;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    grid-template-columns: 10% 40% 30% 20%;
    grid-template-areas: 
        "itemdel itemname itemquant itemprice";
}

.itemdel { 
    grid-area: itemdel;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
}
.itemdel i:hover { color: #686868; cursor: pointer; }
.itemname { grid-area: itemname }
.itemquant { grid-area: itemquant }
.itemprice {
    grid-area: itemprice;
    text-align: left;
}

.cartitem .number-input input[type="number"]{
    width: 1.2em;
}

.cartbuttons {
    grid-area: buttons;
    align-self: flex-end;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    margin-top: 1vh;
}

.cartbutton {
    display: block;
    border-radius: 50px;
    border: none;
    height: 100%;
    padding: 1vh 0;
    width: 30vw;
    min-width: 110px;
    max-width: 150px;
    white-space: nowrap;
    text-decoration: none;
    font-family: "Nunito", sans-serif;
    font-size: 1em;
    text-align: center;
}

#vcartbutton {
    justify-self: left;
    background-color: #ffffff;
    font-weight: 400;
}

#vcartbutton:hover {
    cursor: pointer;
    background-color: #c4c4c4;
}

#chkoutbutton {
    justify-self: right;
    background-color: #5391f5;
    color: #ffffff;
    font-weight: 600;
}

#chkoutbutton:hover {
    cursor: pointer;
    background-color: #7ca7f1;
}

/* -----------van selected float for menu pages------------- */
.vanfloat {
    overflow: hidden;
    box-sizing: border-box;

    background-color: #ffffff;
    padding: 1.6vh 4vw 1.3vh 8vw;

    display: grid;
    grid-template-columns: auto auto;
    margin: 0;
    
    grid-template-areas: 
        "vanfloatleft vanfloatright";
}

.vanfloat #vanfloatleft {
    grid-area: vanfloatleft;
    justify-self: start;
    align-content: start;
}

.vanfloat #vanfloatright {
    grid-area: vanfloatright;
    justify-self: end;
    align-content: start;
}

.vanfloat p {
    font-family: "Roboto", sans-serif;
    font-size: 0.7em;
    font-weight: 300;
    color: #181818;
}

/* van name */
.vanfloat h3 {
    margin: 1vh 0 0.2vh;

    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

/* address */
.vanfloat h4 {
    margin: 0.5vh 0 0.2vh;
    font-size: 0.8em;
    font-family: "Work Sans", sans-serif;
    font-weight: 500;
    color: #727272;
    text-transform: capitalize;
}

/* distance */
.vanfloat h5 {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    margin: 0.5vh 0 0.2vh;
}

/* change truck button */
.vanfloat a {
    display: flex;
    background-color: #5490f5;
    padding: 1vh 4vw;

    border-radius: 100px;
    margin-top: 2.3vh;

    font-size: 0.8em;
    color: #ffffff;
    justify-content: center;
    align-items: center;
}

.vanfloat a:hover {
    background-color: #7ca7f1;
}
/* -------- menu search bar ------------- */
.searchmenu {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2vh 4vw;
    background-color: #cde9fc;
}

.searchmenu p {
    font-weight: 600;
    margin-right: 2vw;
}

.searchmenu input {
    background-color: #ffffff;
    border: none;
    border-radius: 2px;
    width: 60vw;
    min-width: 120px;
    padding: 0.4vh 4px;
    box-sizing: border-box;
}

/* --------------------login page---------------------- */
.centerflex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

.logintitle {
    font-family: "Work Sans", sans-serif;
    font-weight: 700;
    font-size: 1.3em;
    text-transform: uppercase;
    padding-top: 15vh;
    padding-bottom: 2vh;
    
    display: block;
    min-width: 30vw;
    max-width: 40vw;
}

#login_form label {
    display: inline-block;
    text-align: left;
    width: 100%;
    font-size: 0.8em;
}

.loginfield {
    width: 70vw;
    min-width: 180px;

    padding: 0.8vh 8px;
    margin-bottom: 10px;
    box-sizing: border-box;

    background-color: #ffffff;
    border: none;
    border-radius: 6px;

    font-family: inherit;
    font-size: 0.8em;
}

/* error text for email/pw incorrect */
#loginerror {
    color: #d83200;
}
/* error text for dupe acc */
#dupeerror {
    color: #d83200;
    margin-bottom: 1vh;
    font-size: 0.9em;
}

/* text for login screen when new acc created */
#accmadetext {
    color: #4fd600;
    font-size: 0.9em;
}

/* error text for when password and confirm password dont match */
#pwmatcherror {
    display: none;
    width: 100%;
    color: #d83200;
    font-size: 0.8em;
}

/* error text for when form fields are not filled */
#formnotfill {
    width: 100%;
    color: #d83200;
    font-size: 0.8em;
}

#loginbutton {
    width: 35vw;
    max-width: 180px;
    min-width: 80px;

    padding: 8px 10px;
    margin-top: 3vh;
    box-sizing: border-box;

    background-color: #5490f5;
    border: none;
    border-radius: 20px;

    font-family: inherit;
    font-weight: 300;
    text-transform: uppercase;
    color: white;
    font-size: 0.75em;
}

#loginbutton:hover {
    background-color: #7ca7f1;
}

#loginbutton:disabled {
    background-color: #bdbdbd;
}

/* already have an account? don't have an account? text at bottom of login/register pages */
#createacc {
    padding-top: 3vh;
    font-size: 0.8em;
}

#createacc a {
    font-family: "Work Sans", sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.1em;
    line-height: 1.2em;
    text-decoration: none;
    color: black;
}

#createacc a:hover {
    text-decoration: underline;
}

/* back link for login page */
#backbutton {
    margin-top: 18vh;
    font-family: "Roboto",sans-serif;
    font-weight: 700;
    font-size: 1.1em;
    line-height: 1.2em;
    text-decoration: none;
    color: #5490f5;
}

#backbutton:hover {
    text-decoration: underline;
    
}
/* ----------menu categories------------- */
#categories {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    justify-content: center;
    list-style-type: none;
    margin: 0 0 1em;
    padding: 0;
    column-gap: 2vw;
    background-color: #ffffff;
}

#categories input[type="checkbox"] {
    display: none;
}

#caticon {
    font-size: 2em;
}

.catbutton {
    display: flex;
    flex-direction: column;
    padding: 0.7em 3vw;
    text-align: center;
    text-transform: capitalize;
    align-items: center;
}

.catbutton:hover {
    background-color: #E2E2E2;
}

#categories input[type="checkbox"]:checked+label {
    background-color: #d4d4d4;
  }

/* -------------menu page-------------- */
#menu {
    display: grid;
    margin: 0 10vw;
    padding: 0;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    gap: 4vh 5vw;
}

#menu li {
    list-style-type: none;
    vertical-align: top;
    text-align: center;
}

.menuitem {
    text-align: center;
}

.menuitemclick {
    font-weight: 600;
    color: #000000;
}

.menuitemclick span:hover {
    text-decoration: underline;
    cursor: pointer;
}

.menuitem img {
    width: 100%;
    height: 15vh;
    overflow: hidden;
    object-fit: cover;
    border-radius: 2vh;
    transition: all 0.2s ease-in-out;
    background-color: #ffffff;
}

.menuitem img:hover {
    filter: opacity(0.7);
    cursor: pointer;
}

.number-input {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.number-input button {
    cursor: pointer;
    border: none;
    text-decoration: none;
    background: none;
    font-size: 1.8em;
    padding: 0;
}

.number-input button:hover {
    filter: invert(0.4);
}

.number-input input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;

    border: none;
    background: none;
    text-align: center;
    width: 2em;
    font-family: "Roboto", sans-serif;
    font-size: 1em;
    font-weight: 300;
    margin: 0 1vw;
}

.number-input input::-webkit-outer-spin-button,
.number-input input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.menuitem input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}
/* --------------profile page-------------- */
#profileicon {
    font-size: 7em;
    color: #000000;
    margin: 15vh 0 0;
    padding: 0;
    height: min-content;
}

#userDisplayNames {
    font-size: 2em;
    font-weight: 800;
}

#userEmail {
    color: #575757;
}

.editbutton {
    margin: 0;
    font-family: "Roboto",sans-serif;
    font-weight: 300;
    font-size: 1em;
    text-decoration: none;
    color: #4980df;
}

#editPw {
    margin-top: 10vh;
    font-weight: 400;
    font-size: 1.2em;
}

#userEmail {
    margin-top: 0.7vh;
}

.editbutton:hover {
    text-decoration: underline;
    cursor: pointer;
}

#logoutbutton {
    margin-top: 15vh;
    font-family: "Roboto",sans-serif;
    font-weight: 700;
    font-size: 1.1em;
    line-height: 1.2em;
    text-decoration: none;
    color: #5490f5;
}

#logoutbutton:hover {
    text-decoration: underline;
}

/* update name form */
#updatename {
    display: none;
}

/* update pw form */
#updatepw {
    margin-top: 2vh;
    display: none;
}

#profilepage label {
    display: inline-block;
    text-align: left;
    width: 100%;
    font-size: 0.8em;
}

.saveButton {
    padding: 0;
    margin: 0 0 1vh;
    box-sizing: border-box;

    color: #5490f5;
    background: none;
    border: none;

    font-family: inherit;
    font-weight: 600;
    font-size: 1em;
}

.saveButton:hover {
    text-decoration: underline;
    cursor: pointer;
}

.saveButton:disabled {
    color: #858585;
}

.saveButton:disabled:hover {
    text-decoration: none;
    cursor: default;
}

.profileEditField {
    width: 60vw;
    max-width: 300px;
    min-width: 180px;

    padding: 0.7vh 6px;
    margin-bottom: 10px;
    box-sizing: border-box;

    background-color: #ffffff;
    border: none;
    border-radius: 6px;

    font-family: inherit;
    font-size: 0.8em;
}

/* -------------menu page modal-------------- */
/* modal bg */
#modal {
    display: none;
    position: fixed;
    z-index: 99999;
    padding-top: 8vh;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
}

/* modal content */
#modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 60vw;
    max-height: 80vh;
    object-fit: cover;
}

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 80vw;
    text-align: center;
    color: #e4e4e4;
    padding: 3vh 0;
    height: max-content;
}

#modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.3s;
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* modal x button */
#modalclose {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #e7e7e7;
    font-size: 2em;
    font-weight: bold;
    transition: 0.3s;
}
#modalclose:hover,
#modalclose:focus {
    color: #a5a5a5;
    text-decoration: none;
    cursor: pointer;
}

/* ---------order detail/order status page----------- */
#orderTitle {
    font-family: "Work Sans", sans-serif;
    font-weight: 700;
    font-size: 1.3em;
    text-transform: uppercase;
    padding-top: 8vh;
    padding-bottom: 1vh;
    margin: 0;
    
    display: block;
    min-width: 30vw;
    max-width: 40vw;
}

#orderDetailInfo {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 0;
    padding: 1em;

    font-size: 0.9em;
    border-radius: 30px;
    background-color: #ffffff;
}

#orderStatus {
    font-size: 0.8em;
}

#orderStatusText {
    margin: 1vh 0;
}

#ordericon {
    position: relative;
    font-size: 5em;
    margin: 1vh 0 3vh;
}

.bouncyAnim {
    animation-name: floatupdown;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in;
}

@keyframes floatupdown {
    from { top: 5px; }
    to { top: -5px; }
}

#orderInfoTitle {
    font-size: 1.1em;
    margin-bottom: 1vh;
}

#orderDetailItemList {
    font-size: 1em;
    margin-top: 1vh;
}

.orderitem {
    display: grid;
    margin: 1vh 0;
    grid-template-columns: 1fr 6fr 3fr;
    justify-items: flex-start;
    column-gap: 0.3em;
}

.orderitemtotal {
    justify-self: flex-end;
}

#orderTotal {
    font-size: 1.2em;
    font-weight: 700;
}

#cancelModifyOrderButton {
    display: block;
    border-radius: 50px;
    border: none;
    background-color: #e4e4e4;

    height: 100%;
    padding: 1vh 1em;
    margin: 0.5vh 0;
    width: max-content;
    font-family: "Nunito", sans-serif;
    font-size: 1em;
    text-align: center;
}

#orderDetailID {
    font-size: 0.8em;
}
/* --------------responsive landscape tablet view ~1000px------------------ */
@media screen and (min-width: 1000px) {
    .responsive {
        display: none;
    }

    .vanfloat {
        padding-left: 4vw;
    }

    .vanfloat a {
        font-size: 1em;
        padding: 1vh 2vw;
    }

    #menu {
        grid-template-columns: repeat(3, 1fr);
    }

    .catbutton {
        flex-direction: row;
    }

    #caticon {
        margin-right: min(1vw, 15px);
    }
    
    .navbar li a {
        flex-direction: row;
    }

    .navbar li a i {
        margin-right: min(0.5vw, 10px);
    }

    #vanlistfloat {
        width: max-content;
    }

    #vanlistcontainer {
        padding: 0.5vh 2vw 2vh;
    }

    #cartcontainer {
        width: max-content;
        padding: 2vh 4vw;
    }

    .cartitem .number-input input[type="number"]{
        margin: 0 0.3vw;
    }

    .cartitem .number-input button{
        font-size: 1.2em;
    }

    #vcartbutton {
        margin-right: 3vw;
    }

    #chkoutbutton {
        margin-left: 3vw;
    }
}

/* ------------responsive desktop fullscreen browser ~1500px------------- */
@media screen and (min-width: 1500px) {
    #menu {
        grid-template-columns: repeat(4, 1fr);
    }
}