main {
    padding: 0;
}

#mapcontainer {
    position: relative;
    height: 100vh;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}
.marker {
    background-image: url('https://github.com/INFO30005-2021-SM1/project-t16-ctrl-alt-elite/blob/main/public/icons/circle-512.png');
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}