main {
    padding: 0;
}

#mapcontainer {
    position: relative;
    height: 100vh;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.selfMarker {
    background-image: url('/icons/circle-512.png');
    background-size: cover;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    cursor: pointer;
}
.marker {
    background-image: url('/icons/grey-selector.png');
    background-size: cover;
    width: 30px;
    height: 30px;
    border-radius: 0%;
    cursor: pointer;
}
.selectedMarker {
    background-image: url('/icons/red-selector.png');
    background-size: cover;
    width: 30px;
    height: 30px;
    border-radius: 0%;
    cursor: pointer;
}

@media screen and (min-width: 700px) {
    .marker {
        width: 40px;
        height: 40px;
    }
    .selectedMarker {
        width: 40px;
        height: 40px;
    }
}