#ordersTitleBox {
    width: 100%;
    background-color: #ffffff;
    text-align: left;   
}

#ordersTitleBox h1 {
    padding: 5vh 0 0 10vw;
    margin: 0; 
}

.orderbox-container {
    display: grid; 
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 2fr 1fr;
    grid-gap: 1rem;
    grid-template-areas: 
    "orderdate orderdate orderdate"
    "ordercontent . orderstatus"
    "ordertotal ordertotal ordertrailer";
    background-color: #ffffff;
    padding-left: 2.5%;
    margin-bottom: 5%;
    margin-top: 5%;
}

.orderdate {
    grid-area: orderdate;
    font-size: 1.2em;
    font-weight: bold;
}

.ordercontent {
    grid-area: ordercontent;
    font-size: 0.8em;
}

.orderstatus {
    grid-area: orderstatus;
    font-size: 0.8em;
    
}

.ordertotal {
    grid-area: ordertotal;
    font-size: 1.2em;
    font-weight: bold;
}

.ordertrailer {
    grid-area: ordertrailer;
    font-size: 0.8em;
}

.orderitem {
    display: grid;
    grid-template-columns: 1fr 5fr 5fr;
    justify-content: flex-start;
}