.ordersstickytop {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    z-index: 9999;
    pointer-events: auto;
    overflow: hidden;
    width: 100%;
    background-color: #ffffff;
    text-align: left;
    padding-left: 10%;   
}

.orderbox-container {
    display: grid; 
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    grid-gap: 1rem;
    grid-template-areas: 
    "orderdate orderdate"
    "ordercontent orderstatus"
    "ordertotal ordertrailer";
    background-color: #ffffff;
    padding-left: 2.5%;
    margin-bottom: 5%;
    margin-top: 5%;
}

.orderdate {
    grid-area: orderdate;
    font-size: 1.2em;
    font-weight: bold;
}

.ordercontent {
    grid-area: ordercontent;
    font-size: 0.8em;
}

.orderstatus {
    grid-area: orderstatus;
    font-size: 0.8em;
    
}

.ordertotal {
    grid-area: ordertotal;
    font-size: 1.2em;
    font-weight: bold;
}

.ordertrailer {
    grid-area: ordertrailer;
    font-size: 0.8em;
}





