#ordersTitleBox {
    width: 100%;
    background-color: #ffffff;
    text-align: left;   
}

#ordersTitleBox h1 {
    padding: 5vh 0 0 10vw;
    margin: 0; 

}

.orderElement {
    display: flex;
    flex-direction: row;
}

.viewonMap {
    display: flex;
    background-color: #5490f5;
    max-width: 15vw;
    padding: 1vh 2vw;
    margin: 2vh 0 2vh auto;

    font-size: 0.8em;
    text-align: center;
    color: #ffffff;
    justify-content: center;
    align-items: center;
}

.orderbox-container {
    display: grid; 
    flex-grow: 1;
    height: min-content;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto auto;
    grid-template-areas: 
    "orderdate orderdate orderdate"
    "ordercontent ordercontent orderstatus"
    "ordertotal ordertotal ordertrailer";
    background-color: #ffffff;
    padding: 1vh 2vw;
    margin: 2vh 0;

    border-top: 1px solid #414141;
    border-bottom: 1px solid #414141;;
}

.orderdate {
    grid-area: orderdate;
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 0.3vh;
}

.ordercontent {
    grid-area: ordercontent;
    font-size: 0.8em;
    margin-bottom: 1vh;
}

.orderstatus {
    grid-area: orderstatus;
    font-size: 1.2em;
    font-weight: bold;
}

.ordertotal {
    grid-area: ordertotal;
    font-size: 1em;
    font-weight: bold;

    /* display: flex;
    align-items: flex-end; */
}

.ordertrailer {
    grid-area: ordertrailer;
    font-size: 1em;
    display: flex;
    flex-direction: row;
    column-gap: 1vw;
}

.orderitem {
    display: grid;
    grid-template-columns: 1fr 6fr 3fr;
    justify-content: flex-start;
}

@media screen and (min-width: 700px) {
    .orderitem {
        grid-template-columns: 1fr 6fr 10fr;
    }
}

@media screen and (min-width: 1000px) {
    .orderitem {
        grid-template-columns: 1fr 6fr 20fr;
    }

    .viewonMap {
        font-size: 1em;
    }
}

@media screen and (min-width: 1500px) {
    .orderitem {
        grid-template-columns: 1fr 6fr 30fr;
    }
}

