<div id="loginforms" class="centerflex">
    <h1 id="logintitle"><i>Snacks<br class="responsive"> in a Van</i></h1>
    <div id="loginerror">Incorrect email or password!</div>
    <form action="/customer/auth" id="login_form" method="post">
        <label for="email">Email</label><br>
        <input type="email" class="loginfield" name="email" required><br>
        <label for="password">Password</label><br>
        <input type="password" class="loginfield" name="password" required><br>
        <input type="submit" id="loginbutton" value="Sign In">
    </form>
    <div id="createacc">
        Don't have an account?<br>
        <a href="/customer/register">Create an account</a>
    </div>
    <a id="backbutton" href="">Back</a>
</div>