{{#each orders}} {{!-- This code will pull each order from the database and perform this code on each subsequently --}}
    <div class="orderElement">
        <a class="hoverable orderbox-container" href="orders/{{this.orderID}}">
            <div class="orderdate">{{#formatDate this.timestamp}}{{/formatDate}}</div>
            <div class="ordercontent">
                {{#each item}}
                    <div class="orderitem">
                        <div>{{this.count}}x</div>
                        <div>{{#removeunderscore this.name}}{{/removeunderscore}}</div>
                        <div>${{#toFixed2 this.total}}{{/toFixed2}}</div>
                    </div>
                {{/each}}
            </div>
            <div class="ordertotal">Order Total: ${{#toFixed2 this.orderTotal}}{{/toFixed2}}</div>
            <div class="orderstatus">{{this.orderStatus}}</div>
            <div class="ordertrailer">
                <div>{{#removeunderscore this.vendorID}}{{/removeunderscore}}</div>
            </div>
        </a>
        <a class="viewonMap hoverable" href="/customer/van/{{this.vendorID}}">View On Map</a>
    </div>
{{/each}} 
<script src="/js/orders.js"></script>